@{
    ViewData["Title"] = "Sobre";
}

<div class="text-center">
    <br/><br/>
    <h1 class="display-4">Sobre nós</h1>
    <br/>
    
    <div class="card text-white bg-secondary mb-3" style="max-width: 100rem;">
        <div class="card-header"></div>
        <div class="card-body">
            <h4 class="card-title">No início...</h4>
            <p class="card-text">Tudo começou em uma aula de Engenharia de Software, na qual nos foi pedido um projeto singular, criativo e que impactasse a vida das pessoas.
            Imediatamente, nos questionamos: qual a melhor forma de impactar a vida das pessoas, se não por meio do conhecimento?
            A partir disso, a Visando Livros nasceu. Pensando em uma forma de democratizar o acesso a educação e o entreternimento por meio da leitura, a aplicação foi desenvolvida
            no intuito de facilitar a obtenção de livros de qualidade e com o menor custo possível, a partir de qualquer localidade do Brasil! Leitores de qualquer lugar do nosso
            território nacional podem vender seus livros a um preço popular, entrar em contato com outros leitores para possíveis trocas, negociar, conversar e muito mais! 
           <br/>
           Lembrando, claro, da principal missão da Visando Livros: facilitar o acesso a leitura para pessoas mais carentes em qualquer lugar do Brasil! </p>
           <br/>
            <a class="passe-cadastro" asp-controller="Cadastro" asp-action="Index">Entre na nossa comunidade</a>
            ou <a class="fale-conosco" asp-controller="Contato" asp-action="Index">Fale conosco</a>
 
           </div>
       </div>
  </div>
